body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image: url(juiz\ de\ fora.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

header {
    background-color: rgb(7, 1, 34);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card h2 {
    color: #3498db;
}

.card p {
    color: #555;
    margin-bottom: 15px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: rgba(7, 1, 34);
}

footer {
    background-color: rgba(7, 1, 34);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.verifi {
    text-align: center;
    color: rgba(7, 1, 34);
    

}